block footer

	section.brands-section

		.container

			.swiper.brands__slide

				.swiper-wrapper.brands__wrapper

					.swiper-slide
						.brand__img
							img(src="assets/images/b&w.png", alt="img")

					.swiper-slide
						.brand__img
							img(src="assets/images/bedrunka.png", alt="img")

					.swiper-slide
						.brand__img
							img(src="assets/images/bosch.png", alt="img")

					.swiper-slide
						.brand__img
							img(src="assets/images/camozzi.png", alt="img")

					.swiper-slide
						.brand__img
							img(src="assets/images/europress.png", alt="img")

					.swiper-slide
						.brand__img
							img(src="assets/images/ezset.png", alt="img")

					.swiper-slide
						.brand__img
							img(src="assets/images/format.png", alt="img")

	footer#footer.footer

		.container

			.footer__top

				.footer__logo
					.footer__logo-img
						img(src="assets/images/logo.svg", alt="logo")
					span Оснастка для механообработки

				.footer__block

					.footer__menu-top

						ul.footer__nav

							li.footer__nav-item
								a.footer__nav-link(href="catalog.html") Каталог

							li.footer__nav-item
								a.footer__nav-link(href="about.html") Компания

							li.footer__nav-item
								a.footer__nav-link(href="service.html") Услуги

							li.footer__nav-item
								a.footer__nav-link(href="news.html") Новости

							li.footer__nav-item
								a.footer__nav-link(href="contacts.html") Контакты

						ul.footer__socials

							li
								a.footer__social-link(href="vk.com")
									i.fab.fa-vk(aria-hidden="true")

							li
								a.footer__social-link(href="youtube.com")
									i.fab.fa-youtube(aria-hidden="true")

					.footer__menu-bottom

						ul

							li
								a(href="#") Точение

							li
								a(href="#") Фрезерование

							li
								a(href="#") Развертывание

							li
								a(href="#") Нарезание резьбы

							li
								a(href="#") Канавка и отрезка

							li
								a(href="#") Сверление

							li
								a(href="#") Растачивание

							li
								a(href="#") Вспомогательный инструмент


			.footer__bottom

				.footer__copyright

					span ETC-Solution / ИТЦ-Решение
					span © 2022. Все права защищены.

				.footer__bottom-right

					.footer__contacts

						div.contact-item
							span Москва
							span ул. Ивана Иванова, д.6

						div.contact-item
							span E-mail
							a(href="mailto:info@etc.ru") info@etc.ru

						div.contact-item
							span Телефон
							a(href="tel:8 8003500000") 8 800 350 0000

					.footer__end

						.developer-link
							a(href="https://di-project.studio/" target="_blank") Сделано в
							|  Di-Project
						a.politics-link(href="#") Политика конфиденциальности
						a.sitemap-link(href="#") Карта сайта

