block header

    header#header.header

        .container

            .header__inner

                .header__logo
                    img(src="assets/images/logo.svg", alt="logo")

                // NAVIGATION
                nav.header__nav
                    ul
                        li.nav__item
                            a.nav__item-link(href="#") Каталог
                        li.nav__item
                            a.nav__item-link(href="#") Компания
                        li.nav__item
                            a.nav__item-link(href="#") Услуги
                        li.nav__item
                            a.nav__item-link(href="#") Новости
                        li.nav__item
                            a.nav__item-link(href="#") Контакты

                .header__action

                    .header-phone
                        i.far.fa-phone(aria-hidden="true")
                        a(href="tel:88002002020") 8 800 200 2020

                    .header-search
                        input(type="search" name="search")
                        button#searchBtn
                            .far.fa-search
