block header

    header#header.header

        .container

            .header__inner

                .header__logo
                    img(src="assets/images/logo.svg", alt="logo")

                // NAVIGATION
                nav.header__navbar
                    ul.nav
                        li.nav__item
                            a.nav__item-link(class= page == 'catalog' ? 'active' : '' href="catalog.html") Каталог
                        li.nav__item
                            a.nav__item-link(class= page == 'about' ? 'active' : '' href="about.html") Компания
                        li.nav__item
                            a.nav__item-link(class= page == 'service' ? 'active' : '' href="service.html") Услуги
                        li.nav__item
                            a.nav__item-link(class= page == 'news' ? 'active' : '' href="news.html") Новости
                        li.nav__item
                            a.nav__item-link(class= page == 'contacts' ? 'active' : '' href="contacts.html") Контакты

                    ul.header__socials-mobile
                        li
                            a.header__social-link(href="vk.com")
                                i.fab.fa-vk(aria-hidden="true")
                        li
                            a.header__social-link(href="youtube.com")
                                i.fab.fa-youtube(aria-hidden="true")

                    ul.header__phone-mobile
                        li
                            i.far.fa-phone(aria-hidden="true")
                            a(href="tel:88002002020") 8 800 200 2020

                .header__action

                    .header-phone
                        i.far.fa-phone(aria-hidden="true")
                        a(href="tel:88002002020") 8 800 200 2020

                    .header-search
                        form
                            input#searchInput(type="search" name="search" placeholder="Поиск" autocomplete="off")
                            button#searchBtn.search-btn
                                .far.fa-search(aria-hidden="true")
                            button#closeInput.close-btn
                                .far.fa-times(aria-hidden="true")

                    .header-burger
                        .icon-burger#burgerBtn
                            span
                            span
                            span
