html {
    scroll-behavior: smooth;
  }

body {
    background: linear-gradient(90deg, #3D424D 0%, #42464F 100%);
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.overflow-hidden {
    overflow: hidden;
}

body b {
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;

    @include breakpoint(lg) {
        width: 10px;
        height: 10px;
    }
}

::-webkit-scrollbar-thumb {
background: rgba(90, 90, 90, 0.2);
}

::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0.2);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

main {
    min-height: calc(max(calc(100vh - 614px), 600px));
}

#page {
    position: relative;
    min-width: 320px;
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

#page.bg-overlay::before {

    @include breakpointMax(lg) {
        content: '';
        background: #3a3f44;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        z-index: 2;
    }
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    width: 100%;
    box-sizing: border-box;

    @include breakpoint(md) {
        padding: 0 30px;
        max-width: 1660px;
    }
}

button {
    position: relative;
}

.button-style {
    padding: 14px 47px;
    background: none;
    position: relative;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.2em;
    border: 1px solid #BBBEC4;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;

    @include breakpointMax(md) {
        padding: 12px;
        display: block;
        font-size: 13px;
    }
}

.button-style span {
    position: relative;
    transition: all 0.3s linear;
    z-index: 1;
}

.button-style:hover *,
.button-style:hover::before {
    color: #000;
    z-index: 1;
}

.button-style::after {
    content: '';
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all .3s linear;
    z-index: 0;
}

.button-style:hover::after {
    width: 100%;
}

.section-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.1;
    color: #FFFFFF;
    text-transform: uppercase;

    @include breakpointMax(md) {
        font-size: 28px;
    }
}

.section-subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35;
    letter-spacing: 0.2em;
    color: #D3D3D3;
    text-transform: uppercase;

    @include breakpointMax(md) {
        font-size: 12px;
    }
}

.section-top {
    display: flex;
    justify-content: space-between;

    @include breakpointMax(md) {
        display: block;
    }
}

.section-title-wrap {

    @include breakpointMax(md) {
        margin-bottom: 35px;
    }
}

.custom-pagination {
    position: absolute;
    top: 770px;
    left: calc((100vw - 1600px) / 2);
    z-index: 1;

    @include breakpointMaxCustom(1660) {
        left: 30px;
    }
}

.swiper-custom-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

.swiper-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

.swiper-btn span {
    margin-top: -4px;
    color: #D1D1D1;
}

.swiper-button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    cursor: pointer;
}

.swiper-button.swiper-button-disabled {
    opacity: 0.3;
}

.swiper-button::after {
    content: none;
}

.slides-number {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.slides-number .swiper-progressbar {
    margin: 0 10px;
    background: #D1D1D1;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 1px;
}

.slides-number .swiper-progressbar .swiper-pagination-progressbar-fill {
    margin-top: -1px;
    background: #fff;
    height: 3px;
}