html {
    scroll-behavior: smooth;
  }

body {
    background: linear-gradient(90deg, #3D424D 0%, #42464F 100%);
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;

    @include breakpoint(lg) {
        width: 10px;
        height: 10px;
    }
}

::-webkit-scrollbar-thumb {
background: rgba(90, 90, 90, 0.2);
}

::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0.2);
}

#page {
    position: relative;
    min-width: 320px;
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    width: 100%;
    max-width: 1600px;
    box-sizing: border-box;

    @include breakpoint(md) {
        padding: 0 30px;
    }
}

.button-style {
    padding: 14px 47px;
    background: none;
    color: #fff;
    border: 1px solid #BBBEC4;
    border-radius: 3px;
    text-transform: uppercase;
}