.catalog__aside {
    flex-basis: calc((100% - 80px) / 4);
}

.aside__list-item {
    margin-bottom: 10px;
}

.aside__list-item:last-child {
    margin: 0;
}

.aside__list-link {
    padding: 15px 21px 15px 15px;
    background: #3A3E47;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    border-radius: 3px;
    border: 1px solid #555D6B;
}

.aside__list-link::after {
    content: '\f054';
    font-family: $icon;
}

.aside__list-item.active .aside__list-link {
    border-color: #BBBEC4;
}

.aside__list-item.active .aside__list-link::after {
    content: '\f078';
}

.aside__list-link span {
    display: inline-block;
    max-width: 226px;
}

.aside__sublist {
    margin-top: 10px;
    padding-left: 37px;
    display: none;
}

.aside__list-item.active > .aside__sublist {
    display: block;
}

.aside__sublist--level-1 li.active > .aside__sublist {
    display: block;
}

.aside__sublist--level-2 li.active > .aside__sublist {
    display: block;
}

.aside__sublist li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    color: #D1D1D1;
}

.aside__sublist li.active > a {
    font-weight: 600;
    color: #fff;
}

.aside__sublist li a:hover {
    color: #fff;
}

.aside__sublist--level-2 {
    margin: 0;
    padding-left: 20px;
}

.aside__sublist--level-2 li a {
    font-weight: 300;
    font-size: 14px;
}

.aside__sublist--level-3 {
    margin: 0;
    padding-left: 20px;
}

// FILTERS
.aside__filters {
    margin-top: 46px;
}

.filters__head {
    padding: 15px;
    background: #3A3E47;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    border-radius: 3px;
    border: 1px solid #555D6B;
}

.aside__filter {
    padding: 15px 21px 15px 15px;
    background: #3A3E47;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 3px;
    border: 1px solid #555D6B;
}

.filter__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.filter__title::after {
    content: '\f077';
    font-family: $icon;
    transition: transform .5s ease;
}

.aside__filter.active .filter__title::after {
    transform: rotate(180deg);
}

.filter__title span {
    max-width: 305px;
}

.filter__wrapper {
    display: none;
}

.aside__filter:nth-child(2) .filter__wrapper {
    display: block;
}

.aside__filter:nth-child(3) .filter__wrapper {
    display: block;
}

.filter__checkbox {
    margin-top: 10px;
}

.filter__checkbox input {
    display: none;
}

.filter-label {
    display: flex;
    align-items: center;
    max-width: 290px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
    user-select: none;
}

.filter-label::before {
    content: '\f00c';
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    font-family: $icon;
    font-size: 0;
    color: #353A43;
    border: 1px solid #555D6B;
    border-radius: 3px;
    cursor: pointer;
}

.filter__checkbox input:hover + .filter-label::before  {
    border-color: #BBBEC4;
}

.filter__checkbox input:checked + .filter-label::before  {
    background: #FFFFFF;
    font-size: 14px;
    border-color: #fff;
}

.filter__input {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter__input input {
    padding: 6px 34px 6px 10px;
    background: none;
    width: 143px;
    height: 40px;
    color: #fff;
    border: 1px solid #555D6B;
    border-radius: 3px;
}

.slider-value {
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.35;
    color: #BBBEC4;
}

.filterSlider {
    margin: 0 auto;
    margin-bottom: 6px;
    height: 3px;
    max-width: 325px;
}

.filterSlider .ui-slider-handle {
    top: -7px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.filterSlider .ui-state-active {
    background: #999;
    border: none;
}

.aside__action {
    padding: 15px;
    background: #3A3E47;
    text-align: center;
    border: 1px solid #555D6B;
    border-radius: 0px 0px 3px 3px;
}

.aside__btn-showmore {
    background: #fff;
    color: #222222;
}

.aside__btn-showmore::after {
    background: #3A3E47;
    color: #fff;
}

.aside__btn-showmore:hover span {
    color: #fff;
}

.aside__btn-reset {
    margin-top: 17px;
}