body.popup-opened {
    overflow: scroll;

    @include breakpoint(lg) {
        overflow: hidden;
    }
}

.popup-layer {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 99;
    animation: layer 0.7s;

    @include breakpoint(lg) {
        position: fixed;
    }
}

@keyframes layer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.popup-layer.opened {
    display: block;
}

.popup-container {
    position: fixed;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.popup-container.opened {
    display: flex;
}

.popup {
    padding: 70px 20px 40px;
    background-color: #353A43;
    position: relative;
    width: 100%;
    max-width: 480px;
    box-sizing: initial;
    animation: popup 0.7s;
    border-radius: 5px;
    box-sizing: border-box;

    @include breakpointMax(xs) {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        max-width: 100%;
    }

    @include breakpoint(md) {
        padding: 55px 88px;
    }
}

@keyframes popup {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.popup.hide {
    display: none;
}

.popup-close {
    background: transparent;
    position: absolute;
    top: 18px;
    right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.popup-header p {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}

.form-col-row {
    margin-bottom: 32px;
    position: relative;
}

.popup-form {
    margin: 0 auto;
    width: 100%;
    max-width: 280px;
}

.popup-form  label {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;

    @include breakpoint(md) {
        margin: 0;
    }
}

.popup-form input {
    padding: 11px 15px 11px 4px;
    background: rgba(255, 255, 255, 0.01);
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    border: none;
    border-bottom: 1px solid #dcdfe6;
    box-sizing: border-box;

    @include breakpoint(md) {
        max-width: 275px;
    }
}

.popup-form input::placeholder {
    color: #fff;
}

.popup-form button,
.popup-form input[type="submit"] {
    margin: 32px auto 0;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.popup-form button:hover,
.popup-form input[type="submit"]:hover {
    opacity: 0.8;
}

.popup-agreement {
    display: flex;
    align-items: center;
    line-height: 1;
}

.popup-agreement label {
    background: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    min-width: 16px;
    border-radius: 3px;
    cursor: pointer;
}

#agreement:checked + label::after {
    content: "\f00c";
    font-family: $icon;
    font-size: 14px;
    line-height: 1;
    color: #353A43;
}

.popup-agreement span {
    margin-left: 10px;
    display: inline-block;
    font-size: 11px;
    color: #fff;
}

.popup-agreement span a {
    display: inline;
    font-weight: 400;
}

.popup-success {
    animation: popupSuccess 0.7s;
}

@keyframes popupSuccess {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.popup-success .popup-wrapper {
    text-align: center;
}

.popup-success .popup-wrapper > i {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    font-size: 102px;
    color: #dcdfe6;
}

.popup-success .popup-wrapper > p {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.36;
    text-transform: uppercase;
}

.popup-success .popup-wrapper > span {
    display: inline-block;
    max-width: 216px;
    font-size: 14px;
}

.popup-success .popup-wrapper > .button-style {
    margin-top: 60px;
    padding: 14px 32.5px;
    font-size: 16px;
    line-height: 1.375;
}