.about-page .about-section {
    padding: 100px 0 75px;
}

.certificates-section {
    padding: 90px 0;
}

.certificates-section .custom-pagination {
    position: static;
    left: unset;
}

.sertificates__slider {
    margin-top: 57px;
}

.sertificates__item {
    cursor: zoom-in;
}

.sertificates__item-img {
    margin-bottom: 20px;
    padding: 18px;
    border: 1px solid #555D6B;
}

.sertificates__item-title {
    font-weight: 600;
}

.sertificates__item-subtitle {
    margin-top: 5px;
    font-size: 14px;
}