.category-section {
    padding: 60px 0 48px;

    @include breakpointMax(md) {
        padding: 30px 0;
    }
}

.category-section .catalog__wrapper {
    margin: 0;
    margin-left: -30px;

    @include breakpointMax(md) {
        margin-left: 0;
    }
}

.category-section .catalog__item {
    align-items: flex-start;
    flex-basis: calc((100% - 90px) / 3);

    @include breakpointMax(hd) {
        flex-basis: calc((100% - 60px) / 2);
    }

    @include breakpointMax(xl) {
        flex-basis: 100%;
    }

    @include breakpointMax(sm) {
        display: block;
    }
}

.category-section .catalog__info-title {
    margin-bottom: 10px;
    font-size: 20px;

    @include breakpointMax(sm) {
        margin-top: 20px;
        font-size: 18px;
    }
}

.category-section .catalog__info-title:hover {
    color: #D1D1D1;
}

.catalog__info-list li a {
    font-size: 14px;
    color: #D1D1D1;
}

.catalog__info-list li a:hover {
    color: #fff;
}

.catalog__item-text {
    font-size: 12px;
    text-transform: uppercase;
    color: #D1D1D1;
    cursor: default;
}

.catalog__item-img {
    margin-top: 15px;
    display: inline-block;
    width: 52px;
    height: 52px;
}

// CATALOG TABLE

.catalog__sorting {
    margin-bottom: 17px;
    padding: 15px 30px;
    background: #3A3E47;
    display: flex;
    justify-content: space-between;
    max-width: 378px;
    border: 1px solid #555D6B;
    border-radius: 3px;

    @include breakpointMax(xs) {
        padding: 15px 10px;
    }
}

.sort__label {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.4;

    @include breakpointMax(xs) {
        font-size: 13px;
    }
}

.sort__select {
    padding: 0 5px;
    background: transparent;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #D1D1D1;
    border: none;

    @include breakpointMax(xs) {
        padding-right: 0;
    }
}

.catalog__row {
    margin-bottom: 10px;
    padding: 15px;
    background: #3A3E47;;
    display: flex;
    justify-content: space-between;
    border: 1px solid #555D6B;
    border-radius: 3px;

    @include breakpointMax(xl) {
        display: block;
    }
}

.catalog__table .item-price {

    @include breakpointMax(md) {
        margin-bottom: 20px;
    }
}

.catalog__table .old-price {

    @include breakpointMax(xl) {
        font-size: 16px;
    }
}

.catalog__table .actual-price {

    @include breakpointMax(xl) {
        font-size: 24px;
    }
}

.catalog__row-item {
    display: flex;
    align-items: center;
}

.item-image {
    width: 89px;
    height: 89px;
    border-radius: 3px;

    @include breakpointMax(md) {
        min-width: 80px;
        min-height: 80px;
    }
}

.item-label {
    margin-left: 17px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;

    @include breakpointMax(md) {
        font-size: 16px;
    }
}

.item-label:hover {
    color: #d1d1d1;
}

.catalog__row-block {
    display: flex;
    align-items: center;

    @include breakpointMax(xl) {
        margin-top: 20px;
        justify-content: space-between;
    }

    @include breakpointMax(md) {
        align-items: flex-start;
        flex-direction: column;
        justify-content: unset;
    }
}

.item-price {
    margin-right: 39px;
}

.item-button {
    margin-right: 12px;
}

.catalog__block .pagination {
    margin-top: 78px;
}