.catalog-section {
    padding: 60px 0 90px;

    @include breakpointMax(md) {
        padding: 40px 0;
    }
}

.catalog__block {
    display: flex;

    @include breakpointMax(lg) {
        flex-direction: column-reverse;
    }
}

.catalog__inner {
    width: 75%;

    @include breakpointMax(xl) {
        width: 70%;
    }

    @include breakpointMax(lg) {
        width: 100%;
    }
}

.catalog__inner p {
    margin-bottom: 30px;
}

.catalog-section .catalog__wrapper {
    margin-top: 0;
}

.catalog-section  .catalog__item {
    flex-basis: calc((100% - 90px) / 3);

    @include breakpointMax(hd) {
        flex-basis: calc((100% - 60px) / 2);
    }

    @include breakpointMax(xl) {
        flex-basis: 100%;
    }

    @include breakpointMax(lg) {
        flex-basis: calc((100% - 60px) / 2);
    }

    @include breakpointMax(md) {
        flex-basis: 100%;
    }
}

.catalog-section .catalog__picture {

    @include breakpoint(lg) {
        width: calc(((50% / 2.7) * 1) - 15px);
    }

    @include breakpoint(hd) {
        width: calc(((100% / 2.7) * 1) - 15px);
    }
}