.catalog-section {
    padding: 60px 0 90px;
}

.catalog__block {
    display: flex;
    column-gap: 30px;

    @include breakpointMax(lg) {
        flex-direction: column-reverse;
    }
}

.catalog__inner {
    width: 75%;

    @include breakpointMax(xl) {
        width: 70%;
    }

    @include breakpointMax(lg) {
        width: 100%;
    }
}

.catalog__inner p {
    margin-bottom: 30px;
}

.catalog-section .catalog__wrapper {
    margin: 0;
}

.catalog-section  .catalog__item {
    flex-basis: calc((100% - 60px) / 3);
}
