.catalog-section {
    padding: 60px 0 90px;
}

.catalog__block {
    display: flex;
    column-gap: 30px;
}

.catalog__inner {
    flex-basis: 75%;
}

.catalog__inner p {
    margin-bottom: 30px;
}

.catalog-section .catalog__wrapper {
    margin: 0;
}

.catalog-section  .catalog__item {
    flex-basis: calc((100% - 60px) / 3);
}
