.category-section {
    padding: 60px 0 48px;
}

.category-section .catalog__wrapper {
    margin: 0;
}

.category-section .catalog__item {
    align-items: flex-start;
    flex-basis: calc((100% - 60px) / 3);
    column-gap: 17px;
}

.category-section .catalog__info-title {
    margin-bottom: 10px;
    font-size: 20px;
}

.category-section .catalog__info-title:hover {
    color: #D1D1D1;
}

.catalog__info-list li a {
    font-size: 14px;
    color: #D1D1D1;
}

.catalog__info-list li a:hover {
    color: #fff;
}

.catalog__item-text {
    font-size: 12px;
    text-transform: uppercase;
    color: #D1D1D1;
    cursor: default;
}

.catalog__item-img {
    margin-top: 15px;
    display: inline-block;
    width: 52px;
    height: 52px;
}

// CATALOG TABLE

.catalog__sorting {
    margin-bottom: 17px;
    padding: 15px 30px;
    background: #3A3E47;
    display: flex;
    justify-content: space-between;
    max-width: 378px;
    border: 1px solid #555D6B;
    border-radius: 3px;
}

.sort__label {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.4;
}

.sort__select {
    padding: 0 5px;
    background: transparent;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #D1D1D1;
    border: none;
}

.catalog__row {
    margin-bottom: 10px;
    padding: 15px;
    background: #3A3E47;;
    display: flex;
    justify-content: space-between;
    border: 1px solid #555D6B;
    border-radius: 3px;
}

.catalog__row-item {
    display: flex;
    align-items: center;
}

.item-image {
    width: 89px;
    height: 89px;
    border-radius: 3px;
}

.item-label {
    margin-left: 17px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
}

.item-label:hover {
    color: #d1d1d1;
}

.catalog__row-block {
    display: flex;
    align-items: center;
}

.item-price {
    margin-right: 39px;
}

.item-button {
    margin-right: 12px;
}

.catalog__block .pagination {
    margin-top: 78px;
}