.contacts-section {
    padding: 60px 0 178px;

    @include breakpointMax(xl) {
        padding: 30px 0;
    }
}

#map {
    filter: grayscale(1);
    border-radius: 3px;

    @include breakpoint(md) {
        max-width: 513px;
    }
}

.contacts__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;

    @include breakpointMax(xl) {
        display: block;
    }
}

.contacts__block {
    flex-basis: 33%;

    @include breakpointMax(xl) {
        margin-bottom: 40px;
    }
}

.contacts__block:last-child p {
    margin-left: auto;
    margin-right: 30px;
    max-width: 336px;

    @include breakpointMax(xl) {
        margin: 0;
        max-width: unset;
    }
}

.contacts__row {
    margin-bottom: 45px;
    display: flex;
}

.contacts__row:last-child {
    margin: 0;
}

.contacts__icon {
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 38px;
    min-height: 38px;
    max-width: 38px;
    max-height: 38px;
    font-size: 18px;
    line-height: 1;
    background: #3A3E47;
    border-radius: 3px;
    border: 1px solid #555D6B;
}

.contacts__text {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.contacts__label {
    line-height: 1.375;
}

.contacts__info {
    line-height: 1.17;
    color: #BBBEC4;
}

.contacts__info span {
    color: #fff;
}