.hero__slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(max(900px, 100vh));

    @include breakpointMax(sm) {
        background-image: none!important;
    }
}

.hero__slide::before {
    content: '';
    background: linear-gradient(90deg, #292C32 18.98%, rgba(41, 44, 49, 0) 59.04%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.slide-video {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__subtitle {
    padding-top: 278px;
    position: relative;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    z-index: 2;
}

.hero__title {
    margin-top: 56px;
    position: relative;
    max-width: 628px;
    font-weight: 300;
    font-size: 64px;
    line-height: 1.3;
    text-transform: uppercase;
    z-index: 2;

    @include breakpointMax(md) {
        font-size: 48px;
    }

    @include breakpointMax(sm) {
        font-size: 28px;
    }
}

.hero__button {
    margin-top: 95px;
    position: relative;
    width: 217px;
    height: 50px;
    z-index: 2;
}

.production-section {
    padding: 60px 0 35px;
}

.prod__button {

    @include breakpointMax(md) {
        max-width: 250px;
    }
}

.catalog__wrapper {
    margin: 60px 0 0;
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;

    @include breakpointMax(md) {
        margin: 30px 0 0;
        row-gap: 10px;
    }
}

.catalog__item {
    padding: 15px 12px 15px 15px;
    background: #3A3E47;
    display: flex;
    column-gap: 15px;
    flex-basis: calc((100% - 90px) / 4);
    border: 1px solid #555D6B;
    border-radius: 3px;

    @include breakpointMax(hd) {
        flex-basis: calc((100% - 60px) / 3);
    }

    @include breakpointMax(lg) {
        flex-basis: calc((100% - 30px) / 2);
    }

    @include breakpointMax(md) {
        flex-basis: 100%;
    }
}

.catalog__item:hover .catalog__picture img {
    transform: scale(0.8);
}

.catalog__picture {
    background: #292C31;
    width: calc(((100% / 2.7) * 1) - 15px);
    border-radius: 3px;

    @include breakpointMax(md) {
        max-width: 50px;
        max-height: 50px;
    }
}

.catalog__picture img {
    width: 100%;
    height: 100%;
    transition: transform .3s ease;
}

.catalog__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(((100% / 2.7) * 2) - 15px);
}

.catalog__info-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;

    @include breakpointMax(hd) {
        font-size: 20px;
    }

    @include breakpointMax(md) {
        font-size: 16px;
    }
}

.catalog__info-qt {
    margin-top: 5px;
    color: #D3D3D3;

    @include breakpointMax(md) {
        font-size: 14px;
    }
}

.catalog__info-qt b {
    color: #fff;
}

.about-section {
    padding: 35px 0 110px;
}

.about-sec {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 30px;

    @include breakpointMax(hd) {
        display: block;
    }
}

.about-sec__main {
    width: 50%;

    @include breakpointMax(hd) {
        margin: 0 0 50px;
        width: 100%;
    }

    @include breakpointMax(md) {
        margin: 0 0 75px;
    }
}

.about-sec__main-text {
    margin-top: 36px;
    max-width: 590px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;

    @include breakpointMax(hd) {
        max-width: 100%;
    }
}

.about-sec__wrapper {
    padding: 58px  49px 65px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 95px;
    width: 50%;
    border: 1px solid #555D6B;
    border-radius: 3px;
    box-sizing: border-box;

    @include breakpointMax(hd) {
        width: 100%;
    }

    @include breakpointMax(md) {
        padding: 0;
        display: block;
        border: none;
    }
}

.about-sec__item {
    display: flex;
    column-gap: 30px;
    flex-basis: 42%;

    @include breakpointMax(md) {
        margin-bottom: 40px;
    }
}

.about-sec__img {
    min-width: 73px;
    min-height: 73px;
    max-width: 73px;
    max-height: 73px;
}

.about-sec__info {
    display: flex;
    flex-direction: column;
    max-width: 175px;
}

.about-sec__title {
    margin: 0 0 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.1;
}

.about-sec__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    color: #D3D3D3;
}

.popular-section {
    padding: 90px 0 150px;
    background: #353A43;

    @include breakpointMax(md) {
        padding: 60px 0;
    }
}

.popular-section .custom-pagination {
    position: static;
    left: unset;
}

.popular__slider {
    margin-top: 97px;

    @include breakpointMax(md) {
        margin-top: 60px;
    }
}

.popular__item {
    border-radius: 3px;
}

.popular__item-img {
    margin: 0 0 10px;
    background: #fff;

    @include breakpointMax(sm) {
        margin-left: auto;
        margin-right: auto;
        max-width: 257px;
    }
}

.popular__item-title {
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 1.4;
}

.popular__item-price {
    font-weight: 300;
}

.old-price {
    font-size: 12px;
    line-height: 1.4;
    text-decoration-line: line-through;
    color: #D1D1D1;
}

.actual-price {
    margin-left: 10px;
    font-size: 16px;
    line-height: 1.4;
}

.services-section {
    padding: 72px 0;
}

.services-section .custom-pagination {
    position: static;
    left: unset;
}

.services__slider {
    margin-top: 60px;

    @include breakpointMax(md) {
        margin-top: 30px;
    }
}

.services__slider .swiper-slide {
    width: 785px;
    height: 412px;

    @include breakpointMax(md) {
        width: 100%;
        height: 375px;
    }
}

.services__item {
    padding: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    box-sizing: border-box;
    transition: opacity .3s ease;

    @include breakpointMax(md) {
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;
    }
}

.services__item::before {
    content: '';
    background: linear-gradient(0deg, #222222 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.swiper-slide-active .services__item {
    opacity: 1;
}

.swiper-slide-active .services__item::before {
    z-index: 0;
}

.services__item-wrap {
    position: relative;

    @include breakpointMax(md) {
        margin-bottom: 30px;
    }
}

.services__item-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
}

.services__item-desc {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35;
    color: #D1D1D1;
}

.services__item-btn {
    position: relative;

    @include breakpointMax(md) {
        margin-left: unset;
    }
}

.services__slider .swiper-pagination {
    top: calc(50% - 48px);
    left: 50%;
}

.services__slider .slider-arrow-prev {
    left: unset;
    right: 508px;
}

.services__slider .slider-arrow-next {
    left: 508px;
    right: unset;
}

.services__slider .slider-arrow {
    position: absolute;
    cursor: pointer;
}

.services__slider .slider-arrow::after {
    font-family: $icon;
    font-weight: 300;
    font-size: 96px;
    line-height: 1;
    color: #FFFFFF;
}

.services__slider .slider-arrow-prev::after {
    content: '\f053';
}

.services__slider .slider-arrow-next::after {
    content: '\f054';
}

.news-section {
    padding: 0 0 50px;
}

.news-sec__button {

    @include breakpointMax(md) {
        max-width: 190px;
        text-align: center;
    }
}

.news-sec__wrapper {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.news__item {
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: calc((100% - 90px) / 4);
    height: 240px;
    box-sizing: border-box;
    overflow: hidden;

    @include breakpointMax(xl) {
        flex-basis: calc((100% - 30px) / 2);
    }

    @include breakpointMax(sm) {
        flex-basis: 100%
    }
}

.news__item::before {
    content: '';
    background: linear-gradient(0deg, #222222 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.5s ease;
}

.news__item:hover::before {
    opacity: 0;
}

.news__item-title {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
}

.news__item-date {
    margin-top: 5px;
    position: relative;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
}