.product {
    padding: 30px;
    background: #3A3E47;
    display: flex;
    column-gap: 30px;
    border: 1px solid #555D6B;
    border-radius: 3px;
}

.product__image {
    position: relative;
    display: flex;
    column-gap: 10px;
    width: 78%;
    overflow: hidden;
}

.swiper-item-pagination {
    margin: 0;
    max-height: 532px;
    overflow: visible;
}

.swiper-item-pagination .swiper-slide {
    height: auto;
}

.swiper-item-pagination .swiper-slide::after {
    content: '';
    background: rgba(50, 50, 50, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 100%;
    transition: all .3s ease;
}

.swiper-item-pagination .swiper-slide-thumb-active::after {
    width: 100%;
}

.swiper-item-pagination .product__block {
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 3px;
}

.swiper-item {
    margin: 0;
    padding: 30px;
    background: #FDFDFD;
    max-width: 532px;
    border-radius: 3px;
    box-sizing: border-box;
}

.product__block {
    height: 100%;
    cursor: pointer;
}

.product__block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__desc {
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

.product__desc h4 {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
}

.product__desc table {
    margin: 30px 0;
    align-self: baseline;
    font-size: 16px;
    border-collapse: collapse;
}

.product__desc table th,
.product__desc table td {
    padding: 5px;
    width: 40px;
    height: 32px;
    text-align: center;
    border: 1px solid #555D6B;
}

.product__desc p {
    font-size: 13px;
    line-height: 1.3;
}

.product__desc-bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__desc-price .actual-price {
    font-weight: 600;
}

.product__desc-button {
    padding: 20px;
}

.features {
    display: flex;
    column-gap: 30px;
}

.features__tables {
    width: calc(57% - 30px);
}

.features h4 {
    margin: 25px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
}

.features table {
    width: 100%;
    border-collapse: collapse;
}

.features td {
    padding: 10px;
    font-size: 14px;
    line-height: 1.4;
    border: 1px solid #555D6B;
}

.features td.cell-name {
    font-weight: 600;
}

.features td.cell-value {
    width: 42.1%;
    color: #BBBEC4;
}

.features td.cell-img {
    width: 81px;
    height: 81px;
}

.features td.cell-img img {
    background: #fff;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.features__tools {
    margin-top: 48px;
}

.features__tables .button-return {
    margin-top: 70px;
    position: static;
    transform: unset;
}

.in-stock {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
}

.in-stock::before {
    content: "";
    margin-right: 6px;
    background: #353A43;
    position: relative;
    top: 2px;
    display: inline-block;
    min-height: 20px;
    min-width: 20px;
    border: 1px solid #F4F4F4;
    border-radius: 3px;
    box-sizing: border-box;
}

.in-stock--reverse::before {
    background: #fff;
    border: 1px solid #555D6B;
}

.equipment__images {
    margin-top: 20px;
}

.equipment__images ul {
    display: flex;
    column-gap: 10px;
}

.equipment__images li {
    background: #fff;
    height: 60px;
}

.equipment__images img {
    width: 100%;
    height: 100%;
}