.product {
    padding: 30px;
    background: #3A3E47;
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
    border: 1px solid #555D6B;
    border-radius: 3px;

    @include breakpointMax(hd) {
        column-gap: 20px;
    }

    @include breakpointMax(xl) {
        flex-direction: column;
    }

    @include breakpointMax(md) {
        padding: 0;
        background: none;
        border: none;
    }
}

.product__image {
    position: relative;
    display: flex;
    column-gap: 10px;
    width: 78%;
    overflow: hidden;

    @include breakpointMax(hd) {
        width: 100%;
    }

    @include breakpointMax(lg) {
        column-gap: 30px;
    }

    @include breakpointMax(md) {
        flex-direction: column-reverse;
    }
}

.swiper-item-pagination {
    margin: 0;
    max-height: 532px;
    overflow: visible;

    @include breakpointMax(md) {
        margin-top: 15px;
    }
}

.swiper-item-pagination .product__container {

    @include breakpointMax(md) {
        justify-content: center;
    }
}

.swiper-item-pagination .swiper-slide {
    height: auto;

    @include breakpointMax(md) {
        width: auto;
    }
}

.swiper-item-pagination .swiper-slide::after {
    content: '';
    background: rgba(50, 50, 50, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 100%;
    transition: all .3s ease;
}

.swiper-item-pagination .swiper-slide-thumb-active::after {
    width: 100%;
}

.swiper-item-pagination .product__block {
    background: #fff;
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 3px;

    @include breakpointMax(hd) {
        width: 48px;
        height: 48px;
    }

    @include breakpointMax(lg) {
        width: 75px;
        height: 75px;
    }

    @include breakpointMax(md) {
        width: 40px;
        height: 40px;
    }
}

.swiper-item {
    margin: 0;
    padding: 30px;
    background: #FDFDFD;
    max-width: 532px;
    border-radius: 3px;
    box-sizing: border-box;

    @include breakpointMax(lg) {
        max-width: unset;
    }

    @include breakpointMax(md) {
        padding: 15px;
    }
}

.product__block {
    height: 100%;
    cursor: pointer;
}

.product__block img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include breakpointMax(hd) {
        object-fit: contain;
    }
}

.product__desc {
    display: flex;
    flex-direction: column;
    font-weight: 400;

    @include breakpointMax(lg) {
        width: 100%;
    }
}

.product__desc h4 {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;

    @include breakpointMax(xl) {
        margin-top: 30px;
    }

    @include breakpointMax(lg) {
        margin-top: 60px;
    }
}

.product__desc table {
    margin: 30px 0;
    align-self: baseline;
    font-size: 16px;
    border-collapse: collapse;
}

.product__desc table th,
.product__desc table td {
    padding: 5px;
    width: 40px;
    height: 32px;
    text-align: center;
    border: 1px solid #555D6B;
}

.product__desc p {
    font-size: 13px;
    line-height: 1.3;
}

.product__desc-bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpointMax(md) {
        flex-direction: column;
        align-items: flex-end;
    }
}

.product__desc-price .actual-price {
    font-weight: 600;
}

.product__desc-button {
    padding: 20px;

    @include breakpointMax(md) {
        padding-right: 0;
        font-size: 13px;
    }
}

.features {
    display: flex;
    column-gap: 30px;

    @include breakpointMax(xl) {
        flex-direction: column;
    }
}

.features__tables {
    width: calc(57% - 30px);

    @include breakpointMax(xl) {
        width: 100%;
    }
}

.features__tables h4 {
    margin: 25px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
}

.features__tables table {
    width: 100%;
    border-collapse: collapse;
}

.features__tables td {
    padding: 10px;
    font-size: 14px;
    line-height: 1.4;
    border: 1px solid #555D6B;
}

.features__tables td.cell-name {
    font-weight: 600;
}

.features__tables td.cell-value {
    width: 42.1%;
    color: #BBBEC4;
}

.features__tables td.cell-img {
    width: 81px;
    height: 81px;
}

.features__tables td.cell-img img {
    background: #fff;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.features__tools {
    margin-top: 48px;
}

.features__tables .button-return {
    margin-top: 70px;
    position: static;
    transform: unset;

    @include breakpointMax(lg) {
        margin: 60px 0 20px;
    }
}

.features__equipment {
    margin-top: 25px;
    max-width: 500px;

    @include breakpointMax(md) {
        display: none;
    }
}

.features__equipment h4 {
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 20px;
}

.in-stock {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
}

.in-stock::before {
    content: "";
    margin-right: 6px;
    background: #353A43;
    position: relative;
    top: 2px;
    display: inline-block;
    min-height: 20px;
    min-width: 20px;
    border: 1px solid #F4F4F4;
    border-radius: 3px;
    box-sizing: border-box;
}

.in-stock--reverse::before {
    background: #fff;
    border: 1px solid #555D6B;
}

.equipment__images {
    margin-top: 20px;
}

.equipment__images ul {
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.equipment__images li {
    background: #fff;
    height: 60px;
}

.equipment__images img {
    width: 100%;
    height: 100%;
}

.equipment__table {
    margin-top: 100px;
    width: 100%;
    max-width: 446px;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
    z-index: 1;
}

.equipment__table td {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #555D6B;
}

.table-insert__group-row {
    color: #000;
    height: 18px;
    line-height: 18px;
}

.table-insert__head-row td:first-of-type {
    padding: 0 10px;
    font-weight: 600;
    font-size: 16px;
}

.table-insert__head-row td:last-of-type {
    padding: 0 5px;
}

.material-group__blue {
    background-color: #00b8f1;
}

.material-group__yellow {
    background-color: #ffed57;
}

.material-group__red {
    background-color: #ff5e4c;
}

.material-group__green {
    background-color: #93dac3;
}

.material-group__brown {
    background-color: #ffbb86;
}

td.table-insert__plug-left {
    background-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.table-insert td, .table-insert th {
    border: 1px solid #383838;
    box-sizing: border-box;
    text-align: center;
}

.table-insert__group-cell {
    width: 32px;
}

.table-insert__group-cell .fill-dot {
    margin: 0 auto;
    background: #353A43;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 84px;
}

.table-insert__group-cell .fill-dot--false {
    background: transparent;
    border: 1px solid #222222;
}

.table-insert__title-group {
    display: inline-block;
    min-width: 16px;
    font-size: 16px;
    text-align: center;
}

.table-insert__title-alloy span {
    margin: auto;
    padding: 10px 8px 20px;
    position: relative;
    display: flex;
    font-weight: 600;
    transform: rotate(180deg);
    white-space: nowrap;
    writing-mode: vertical-rl;
    z-index: 1;
}

.insert-row {
    height: 32px;
}

.insert-row td {
    padding: 0 8px;
    text-align: center;
}

.insert-row td:first-of-type {
    font-weight: 600;
    font-size: 16px;
}

td.insert-designation {
    padding: 5px 10px;
    text-align: left;
}

.table-insert__in-stock {
    content: "";
    margin: 0 auto;
    background: #fff;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #F4F4F4;
    border-radius: 3px;
}

.table-insert__in-stock--false {
    background: #353A43;
}

.table-insert__link-insert:hover .table-insert__in-stock{
    animation: pulsing .8s infinite;
    transform: scale(1.2);
}

@keyframes pulsing {
    0% { transform:scale(1) }
    50% { transform:scale(1.2) }
    to { transform:scale(1) }
}