.news-section {
    padding: 60px 0 75px;

    @include breakpointMax(lg) {
        padding: 40px 0;
    }
}

.articles__inner .news__item {
    margin-bottom: 30px;

    @include breakpointMax(hd) {
        flex-basis: calc((100% - 90px) / 3);
    }

    @include breakpointMax(xl) {
        flex-basis: calc((100% - 60px) / 2);
    }

    @include breakpointMax(sm) {
        flex-basis: 100%
    }
}

.articles__tab {
    margin-top: 38px;
    display: flex;
}

.articles__year {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.38;
    color: #BBBEC4;
}

.articles__year ~ .articles__year {
    margin-left: 30px;
}

.articles__year.active {
    color: #fff;
}