.news-section {
    padding: 60px 0 75px;

    @include breakpointMax(lg) {
        padding: 40px 0;
    }
}

.news-section .news__item {
    flex-basis: calc((100% / 3) - 20px);
    overflow: hidden;

    @include breakpointMax(lg) {
        flex-basis: calc((100% / 2) - 20px);
    }

    @include breakpointMax(sm) {
        flex-basis: 100%
    }
}

.articles__tab {
    margin-top: 38px;
    display: flex;
    column-gap: 30px;
}

.articles__year {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.38;
    color: #BBBEC4;
}

.articles__year.active {
    color: #fff;
}