.news-inner-section {
    padding: 60px 0 40px;

    @include breakpointMax(xl) {
        padding: 40px 0;
    }
}

.news-inner__wrapper {
    display: flex;
    justify-content: space-between;

    @include breakpointMax(lg) {
        display: block;
    }
}

.news-inner__block {
    display: flex;
    justify-content: space-between;
    flex-basis: 66.666%;
}

.news-inner__block--left {
    padding: 0;

    @include breakpointMax(hd) {
        padding-right: 30px;
        flex-direction: column-reverse;
    }
}

.news-inner__block--left p {
    max-width: 650px;
}

.news-inner__image {
    margin-bottom: 50px;

    @include breakpointMax(hd) {
        width: 100%;
    }
}

.news-inner__image img {
    width: 100%;
}

.news-inner__block .button-return {
    margin-top: 90px;
    position: static;
    transform: unset;
}

.news-inner__block--right {
    flex-basis: 33.333%;

    @include breakpointMax(lg) {
        margin-top: 90px;
    }
}

.news-inner__label {
    max-width: 242px;

    @include breakpointMax(hd) {
        margin-bottom: 50px;
        max-width: 100%;
    }
}

.news-inner__date {
    margin-bottom: 77px;

    @include breakpointMax(hd) {
        margin-bottom: 30px;
    }
}

.news-inner__article {
    width: 62.5%;

    @include breakpointMax(hd) {
        width: 100%;
    }
}

.news-inner__articles {
    margin-left: auto;
    width: 100%;
    max-width: 378px;

    @include breakpointMax(lg) {
        margin-left: 0;
        max-width: 100%;
    }
}

.articles-title {
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.1;
    text-transform: uppercase;

    @include breakpointMax(md) {
        font-size: 28px;
    }
}

.articles-wrapper {

    @include breakpointMax(lg) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.news-inner__articles .news__item {
    margin-left: 0;
    margin-bottom: 30px;

    @include breakpointMax(lg) {
        flex-basis: calc(50% - 15px);
    }

    @include breakpointMax(sm) {
        flex-basis: 100%;
    }
}