.service-inner-section {
    padding: 60px 0 48px;
}

.service-inner__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;

    @include breakpointMax(hd) {
        column-gap: 30px;
    }

    @include breakpointMax(lg) {
        display: block;
    }
}

.service-inner__image {
    flex-basis: 50%;
    max-width: 650px;
}

.service-inner__image img {
    width: 100%;
}

.service-inner__content {
    padding-right: calc(8.333% + 16px);
    flex-basis: 50%;

    @include breakpointMax(hd) {
        padding: 0;
    }

    @include breakpointMax(lg) {
        margin-top: 30px;
    }
}

.service-inner__content button {
    margin-bottom: 40px;

    @include breakpointMax(md) {
        margin-left: auto;
        margin-right: auto;
    }
}

.button-return {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 180px;
    border-radius: 3px;
    border: 1px solid #555D6B;
    transform: translateY(48px);

    @include breakpointMax(lg) {
        position: relative;
    }
}

.button-return a {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: unset;
    text-transform: unset;
    border: none;
}

.button-return a::before {
    content: '\f053';
    font-family: $icon;
}