.services-section {
    padding: 60px 0 90px;

    @include breakpointMax(md) {
        padding: 60px 0;
    }
}

.articles__wrapper {
    display: flex;

    @include breakpointMax(xl) {
        display: block;
    }
}

.articles__text {
    margin-right: 30px;
    padding-right: 30px;
    flex-basis: 23.5%;

    @include breakpointMax(hd) {
        padding: 0;
    }
}

.articles__text p {
    font-weight: 300;
}

.articles {
    flex-basis: 75%;

    @include breakpointMax(xl) {
        margin-top: 30px;
    }
}

.articles__inner {
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
}

.services__block {
    margin-left: 30px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
    flex-basis: calc((100% / 3) - 30px);
    transition: all .5s ease;

    @include breakpointMax(lg) {
        flex-basis: calc((100% / 2) - 30px);
    }

    @include breakpointMax(sm) {
        flex-basis: 100%
    }
}

.services__block::after {
    content: '';
    padding-top: calc(100% / 1.57);
    background: linear-gradient(0deg, #222222 0%, rgba(0, 0, 0, 0) 100%);
    display: block;
    transition: opacity .5s ease;
}

.services__block:hover {
    background-size: 110%;
}

.services__block:hover::after {
    opacity: 0;
}

.services__block p {
    padding: 0 17px;
    position: absolute;
    bottom: 20px;
    max-height: 90px;
    font-weight: 600;
    line-height: 1.4;
    overflow: hidden;
    z-index: 1;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}