.catalog__aside

    ul.aside__list

        li.aside__list-item
            a.aside__list-link(href="#")
                span Точение

        li.aside__list-item
            a.aside__list-link(href="#")
                span Канавка и отрезка

        li.aside__list-item(class= aside_active == true ? 'active' : '')
            a.aside__list-link(href="#")
                span Фрезерование

            ul.aside__sublist.aside__sublist--level-1
                li(class= level == 1 || level == 2 || level == 3 ? 'active' : '')
                    a(href="#") Фрезы со сменными пластинами
                    ul.aside__sublist.aside__sublist--level-2
                        li(class= level == 2 || level == 3 ? 'active' : '')
                            a(href="#") Фрезерование плоскости
                            ul.aside__sublist.aside__sublist--level-3
                                li(class= level == 3 ? 'active' : '')
                                    a(href="#") Общего назначения
                                li
                                    a(href="#") Тяжелого резания и черновой обработки
                                li
                                    a(href="#")  Кассетного исполнения
                        li
                            a(href="#") Фрезерование уступов
                        li
                            a(href="#") Профильное фрезерование
                        li
                            a(href="#") Фрезерование с быстрыми подачами
                        li
                            a(href="#") Фрезерование пазов и отрезка
                        li
                            a(href="#") Обработка фасок
                li
                    a(href="#") Монолитные твердосплавные фрезы
                li
                    a(href="#") Твердосплавные пластины


        li.aside__list-item
            a.aside__list-link(href="#")
                span Сверление

        li.aside__list-item
            a.aside__list-link(href="#")
                span Развертывание

        li.aside__list-item
            a.aside__list-link(href="#")
                span Нарезание резьбы

        li.aside__list-item
            a.aside__list-link(href="#")
                span Измерительный инструмент

        li.aside__list-item
            a.aside__list-link(href="#")
                span Вспомогательный инструмент

    if level == '3'
        // FILTERS
        .aside__filters

            p.filters__head Фильтр по параметрам

            //  Filter Checkbox
            .aside__filter.active
                .filter__title
                    span Угол в плане, °

                .filter__wrapper

                    ul
                        li.filter__checkbox
                            input#input1(type="checkbox", name="" aria-hidden="true")
                            label.filter-label(for="input1") 45 (68)

                        li.filter__checkbox
                            input#input2(type="checkbox", name="" aria-hidden="true")
                            label.filter-label(for="input2") 50 (15)

            //  Filter Slider
            .aside__filter.active
                .filter__title
                    span Минимальный размер, мм

                .filter__wrapper

                    .filter__input
                        input.input-min(type="number")
                        span —
                        input.input-max(type="number")

                    .slider-value
                        span.value-min
                        span.value-max
                    .filterSlider

            //  Filter Slider
            .aside__filter
                .filter__title
                    span Макс. глубина резания, мм

                .filter__wrapper

                    .filter__input
                        input.input-min(type="number")
                        span —
                        input.input-max(type="number")

                    .slider-value
                        span.value-min
                        span.value-max
                    .filterSlider

            //  Filter Slider
            .aside__filter
                .filter__title
                    span Число зубъев, шт

                .filter__wrapper

                    .filter__input
                        input.input-min(type="number")
                        span —
                        input.input-max(type="number")

                    .slider-value
                        span.value-min
                        span.value-max
                    .filterSlider

            //  Filter Checkbox
            .aside__filter
                .filter__title
                    span Форма крепежной части

                .filter__wrapper
                    ul
                        li.filter__checkbox
                            input#checkbox1(type="checkbox", name="")
                            label.filter-label(for="checkbox1") A - насадное фланцевое исполнение формы А, паз по DIN 138 (28)

                        li.filter__checkbox
                            input#checkbox2(type="checkbox", name="")
                            label.filter-label(for="checkbox2") B - насадное фланцевое исполнение формы B, паз по DIN 138 (12)

                        li.filter__checkbox
                            input#checkbox3(type="checkbox", name="")
                            label.filter-label(for="checkbox3") C - насадное фланцевое исполнение формы C, паз по DIN 138 (19)

            //  Filter Checkbox
            .aside__filter
                .filter__title
                    span Размер крепежной части

                .filter__wrapper
                    ul
                        li.filter__checkbox
                            input#checkbox4(type="checkbox", name="")
                            label.filter-label(for="checkbox4") 22 (11)

                        li.filter__checkbox
                            input#checkbox5(type="checkbox", name="")
                            label.filter-label(for="checkbox5") 27 (11)

                        li.filter__checkbox
                            input#checkbox6(type="checkbox", name="")
                            label.filter-label(for="checkbox6") 32 (11)

                        li.filter__checkbox
                            input#checkbox7(type="checkbox", name="")
                            label.filter-label(for="checkbox7") 40 (18)

                        li.filter__checkbox
                            input#checkbox8(type="checkbox", name="")
                            label.filter-label(for="checkbox8") 60 (10)

            //  Filter Checkbox
            .aside__filter
                .filter__title
                    span Типоразмер пластины

                .filter__wrapper
                    ul
                        li.filter__checkbox
                            input#checkbox9(type="checkbox", name="")
                            label.filter-label(for="checkbox9") SD08 (8)

                        li.filter__checkbox
                            input#checkbox10(type="checkbox", name="")
                            label.filter-label(for="checkbox10") SN13 (21)

                        li.filter__checkbox
                            input#checkbox11(type="checkbox", name="")
                            label.filter-label(for="checkbox11") SO12 (10)

                        li.filter__checkbox
                            input#checkbox12(type="checkbox", name="")
                            label.filter-label(for="checkbox12") SO09 (8)

                        li.filter__checkbox
                            input#checkbox13(type="checkbox", name="")
                            label.filter-label(for="checkbox13") XN10 (14)

            //  Filter Checkbox
            .aside__filter
                .filter__title
                    span Для аэрокосмической промышленности

                .filter__wrapper
                    ul
                        li.filter__checkbox
                            input#checkbox14(type="checkbox", name="")
                            label.filter-label(for="checkbox14") Да (8)

            //  Filter Checkbox
            .aside__filter
                .filter__title
                    span Для титановых сплавов

                .filter__wrapper
                    ul
                        li.filter__checkbox
                            input#checkbox15(type="checkbox", name="")
                            label.filter-label(for="checkbox15") Да (8)

            //  Filter Checkbox
            .aside__filter
                .filter__title
                    span Направление резания

                .filter__wrapper
                    ul
                        li.filter__checkbox
                            input#checkbox16(type="checkbox", name="")
                            label.filter-label(for="checkbox16") R - правое (61)

        .aside__action
            button.aside__btn-showmore.button-style
                span Показать
            button.aside__btn-reset.button-style
                span Сбросить