.brands-section {
    padding: 30px 0;
    opacity: 0.5;
    border-top: 1px solid #555D6B;
}

.brands-section  .container {

    @include breakpointMax(lg) {
        padding: 0;
    }
}

.brands__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(lg) {
        column-gap: 20px;
    }

    @include breakpointMax(lg) {
        margin-left: 20px!important;
    }
}

.brands__wrapper .swiper-slide {

    @include breakpoint(lg) {
        all: unset;
    }

    @include breakpointMax(lg) {
        width: auto;
    }
}

.footer {
    padding: 40px 0 50px;
    background: #353A43;
}

.footer__top {
    padding: 0 0 36px;
    display: flex;
    column-gap: 180px;
    border-bottom: 1px solid rgba(85, 93, 107, 1);

    @include breakpointMax(hd) {
        column-gap: 80px;
    }

    @include breakpointMax(lg) {
        display: block;
    }
}

.footer__logo {
    flex-basis: 221px;
    flex-shrink: 0;
}

.footer__logo-img {
    width: 100%;
    height: 100%;
    max-width: 220px;
    max-height: 50px;

    @include breakpointMax(md) {
        margin: 0 auto;
    }
}

.footer__logo span {
    margin-top: 20px;
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.35;
    color: #D1D1D1;

    @include breakpointMax(md) {
        display: block;
        text-align: center;
    }
}

.footer__block {

    @include breakpointMax(lg) {
        margin: 30px 0 0;
    }
}

.footer__menu-top {
    display: flex;

    @include breakpointMax(md) {
        flex-direction: column;
    }
}

.footer__nav {
    margin: 0 0 45px;
    display: flex;
    column-gap: 40px;
    flex-basis: 835px;

    @include breakpointMax(md) {
        margin: 0;
        display: block;
        flex-basis: unset;
        text-align: center;
    }
}

.footer__nav-item {

    @include breakpointMax(md) {
        margin-bottom: 18px;
    }
}

.footer__nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    text-transform: uppercase;
}

.footer__socials {
    margin-right: 20px;
    display: flex;
    column-gap: 10px;

    @include breakpointMax(hd) {
        margin-right: 0;
    }

    @include breakpointMax(md) {
        margin: 30px 0 0;
        justify-content: center;
    }
}

.footer__socials i {
    font-size: 18px;
}

.footer__menu-bottom {

    @include breakpointMax(md) {
        margin-top: 30px;
    }
}

.footer__menu-bottom ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 38px;

    @include breakpointMax(md) {
        text-align: center;
        justify-content: center;
    }
}

.footer__menu-bottom li {
    margin-bottom: 8px;
    flex-basis: 240px;
}

.footer__menu-bottom a {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: #D3D3D3;
}

.footer__bottom {
    padding: 50px 0 0;
    display: flex;
    column-gap: 165px;

    @include breakpointMax(hd) {
        column-gap: 75px;
    }

    @include breakpointMax(lg) {
        column-gap: 48px;
    }

    @include breakpointMax(md) {
        padding: 30px 0 0;
        flex-direction: column-reverse;
    }
}

.footer__copyright {
    flex-basis: 230px;
    flex-shrink: 0;

    @include breakpointMax(md) {
        margin: 30px 0 0;
        flex-basis: unset;
        text-align: center;
    }
}

.footer__copyright span:first-child {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.35;
    text-transform: uppercase;
}

.footer__copyright span:last-child {
    margin-top: 10px;
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.35;
    color: #D1D1D1;

    @include breakpointMax(md) {
        display: block;
    }
}

.footer__bottom-right {
    width: 100%;
    max-width: 1130px;
}

.footer__contacts {
    display: flex;
    justify-content: space-between;

    @include breakpointMax(hd) {
        justify-content: unset;
        column-gap: 30px;
    }

    @include breakpointMax(lg) {
        font-size: 12px;
    }

    @include breakpointMax(md) {
        display: block;
    }
}

.contact-item {
    flex-basis: 300px;

    @include breakpointMax(hd) {
        padding-right: 10px;
        flex-basis: 240px;
    }

    @include breakpointMax(md) {
        margin: 0 0 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.contact-item span {
    display: inline-block;
    text-transform: uppercase;
}

.contact-item span:first-child {
    margin-right: 25px;
    display: inline-block;
    font-weight: 600;

    @include breakpointMax(md) {
        margin: 0;
    }
}

.contact-item span:last-child {
    color: #D3D3D3;
}

.contact-item a {
    display: inline-block;
    color: #D3D3D3;
    text-transform: uppercase;
}

.footer__end {
    margin: 8px 0 0;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.35;
    color: #D1D1D1;

    @include breakpointMax(hd) {
        margin: 30px 0 0;
        justify-content: unset;
        column-gap: 30px;
    }

    @include breakpointMax(lg) {
        font-size: 12px;
    }

    @include breakpointMax(md) {
        display: block;
        text-align: center;
    }
}

.footer__end > * {
    flex-basis: 300px;

    @include breakpointMax(hd) {
        flex-basis: 240px;
    }

    @include breakpointMax(md) {
        margin-bottom: 10px;
    }
}

.developer-link a {
    display: inline-block;
}