---
title: ETC - Solution | Фрезерование плоскости
page: catalog
aside_active: true
level: 2
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Фрезерование плоскости', 'Каталог', 'Фрезерование', 'Фрезы со сменными пластинами', 'Фрезерование плоскости')
    // Breadcrumbs::End

    // Category::Start
    .category-section

        .container

            .catalog__block

                // Categories::Start
                include components/_categories
                // Categories::End

                // Catalog::Start
                .catalog__inner

                    .catalog__wrapper

                        // Catalog item
                        .catalog__item
                            a.catalog__picture(href="category-4.html")
                                img(src="assets/images/cats2.png", alt="img")
                            .catalog__info
                                a.catalog__info-title(href="category-4.html") Общего назначения
                                .catalog__text
                                    .catalog__item-text
                                        span Рабочий диаметр от 32 до 315 мм
                                        span Глубина обработки до 7 мм
                                    ul
                                        li.catalog__item-img
                                            img(src="assets/images/item1.png", alt="img")
                                        li.catalog__item-img
                                            img(src="assets/images/item2.png", alt="img")
                                        li.catalog__item-img
                                            img(src="assets/images/item3.png", alt="img")

                        // Catalog item
                        .catalog__item
                            a.catalog__picture(href="category-4.html")
                                img(src="assets/images/cats3.png", alt="img")
                            .catalog__info
                                a.catalog__info-title(href="category-4.html") Тяжелого резания и черновой обработки
                                .catalog__text
                                    .catalog__item-text
                                        span Рабочий диаметр от 32 до 315 мм
                                        span Глубина обработки до 7 мм
                                    ul
                                        li.catalog__item-img
                                            img(src="assets/images/item1.png", alt="img")
                                        li.catalog__item-img
                                            img(src="assets/images/item2.png", alt="img")
                                        li.catalog__item-img
                                            img(src="assets/images/item3.png", alt="img")

                        // Catalog item
                        .catalog__item
                            a.catalog__picture(href="category-4.html")
                                img(src="assets/images/cats1.png", alt="img")
                            .catalog__info
                                a.catalog__info-title(href="category-4.html") Кассетного исполнения
                                .catalog__text
                                    .catalog__item-text
                                        span Рабочий диаметр от 32 до 315 мм
                                        span Глубина обработки до 7 мм
                                    ul
                                        li.catalog__item-img
                                            img(src="assets/images/item1.png", alt="img")
                                        li.catalog__item-img
                                            img(src="assets/images/item2.png", alt="img")
                                        li.catalog__item-img
                                            img(src="assets/images/item3.png", alt="img")
                // Catalog::End
    // Category::End