---
title: ETC - Solution | Фрезерование
page: catalog
aside_active: true
level: 3
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Общего назначения', 'Каталог', 'Фрезерование', 'Фрезы со сменными пластинами', ' Фрезерование плоскости', 'Общего назначения')
    // Breadcrumbs::End

    // Category::Start
    .category-section

        .container

            .catalog__block

                // Categories::Start
                include components/_categories
                // Categories::End

                // Catalog::Start
                .catalog__inner

                    // Sorting
                    .catalog__sorting

                        .sort__label Сортировка
                        select.sort__select
                            option(selected="selected") По наименованию (А-Я)
                            option По наименованию (Я-А)

                    .catalog__table

                        // Catalog row-item
                        .catalog__row
                            .catalog__row-item
                                a.item-image(href="item.html")
                                    img(src="assets/images/cat-item-1.png", alt="img")
                                a.item-label(href="item.html") MT245-032A16R03SO12

                            .catalog__row-block
                                .item-price
                                    span.old-price 15 000 р.
                                    span.actual-price 5 000 р.
                                .item-button
                                    a.button-style(href="item.html")
                                        span Подробнее

                        // Catalog row-item
                        .catalog__row
                            .catalog__row-item
                                a.item-image(href="item.html")
                                    img(src="assets/images/cat-item-1.png", alt="img")
                                a.item-label(href="item.html") MT245-032A16R03SO12

                            .catalog__row-block
                                .item-price
                                    span.old-price 15 000 р.
                                    span.actual-price 5 000 р.
                                .item-button
                                    a.button-style(href="item.html")
                                        span Подробнее

                        // Catalog row-item
                        .catalog__row
                            .catalog__row-item
                                a.item-image(href="item.html")
                                    img(src="assets/images/cat-item-1.png", alt="img")
                                a.item-label(href="item.html") MT245-032A16R03SO12

                            .catalog__row-block
                                .item-price
                                    span.old-price 15 000 р.
                                    span.actual-price 5 000 р.
                                .item-button
                                    a.button-style(href="item.html")
                                        span Подробнее

                        // Catalog row-item
                        .catalog__row
                            .catalog__row-item
                                a.item-image(href="item.html")
                                    img(src="assets/images/cat-item-1.png", alt="img")
                                a.item-label(href="item.html") MT245-032A16R03SO12

                            .catalog__row-block
                                .item-price
                                    span.old-price 15 000 р.
                                    span.actual-price 5 000 р.
                                .item-button
                                    a.button-style(href="item.html")
                                        span Подробнее

                        // Catalog row-item
                        .catalog__row
                            .catalog__row-item
                                a.item-image(href="item.html")
                                    img(src="assets/images/cat-item-1.png", alt="img")
                                a.item-label(href="item.html") MT245-032A16R03SO12

                            .catalog__row-block
                                .item-price
                                    span.old-price 15 000 р.
                                    span.actual-price 5 000 р.
                                .item-button
                                    a.button-style(href="item.html")
                                        span Подробнее

                        // Catalog row-item
                        .catalog__row
                            .catalog__row-item
                                a.item-image(href="item.html")
                                    img(src="assets/images/cat-item-1.png", alt="img")
                                a.item-label(href="item.html") MT245-032A16R03SO12

                            .catalog__row-block
                                .item-price
                                    span.old-price 15 000 р.
                                    span.actual-price 5 000 р.
                                .item-button
                                    a.button-style(href="item.html")
                                        span Подробнее

                        // Catalog row-item
                        .catalog__row
                            .catalog__row-item
                                a.item-image(href="item.html")
                                    img(src="assets/images/cat-item-1.png", alt="img")
                                a.item-label(href="item.html") MT245-032A16R03SO12

                            .catalog__row-block
                                .item-price
                                    span.old-price 15 000 р.
                                    span.actual-price 5 000 р.
                                .item-button
                                    a.button-style(href="item.html")
                                        span Подробнее

                        // Catalog row-item
                        .catalog__row
                            .catalog__row-item
                                a.item-image(href="item.html")
                                    img(src="assets/images/cat-item-1.png", alt="img")
                                a.item-label(href="item.html") MT245-032A16R03SO12

                            .catalog__row-block
                                .item-price
                                    span.old-price 15 000 р.
                                    span.actual-price 5 000 р.
                                .item-button
                                    a.button-style(href="item.html")
                                        span Подробнее

                        // Catalog row-item
                        .catalog__row
                            .catalog__row-item
                                a.item-image(href="item.html")
                                    img(src="assets/images/cat-item-1.png", alt="img")
                                a.item-label(href="item.html") MT245-032A16R03SO12

                            .catalog__row-block
                                .item-price
                                    span.old-price 15 000 р.
                                    span.actual-price 5 000 р.
                                .item-button
                                    a.button-style(href="item.html")
                                        span Подробнее

                        // Catalog row-item
                        .catalog__row
                            .catalog__row-item
                                a.item-image(href="item.html")
                                    img(src="assets/images/cat-item-1.png", alt="img")
                                a.item-label(href="item.html") MT245-032A16R03SO12

                            .catalog__row-block
                                .item-price
                                    span.old-price 15 000 р.
                                    span.actual-price 5 000 р.
                                .item-button
                                    a.button-style(href="item.html")
                                        span Подробнее

                        // Catalog row-item
                        .catalog__row
                            .catalog__row-item
                                a.item-image(href="item.html")
                                    img(src="assets/images/cat-item-1.png", alt="img")
                                a.item-label(href="item.html") MT245-032A16R03SO12

                            .catalog__row-block
                                .item-price
                                    span.old-price 15 000 р.
                                    span.actual-price 5 000 р.
                                .item-button
                                    a.button-style(href="item.html")
                                        span Подробнее

                        // Catalog row-item
                        .catalog__row
                            .catalog__row-item
                                a.item-image(href="item.html")
                                    img(src="assets/images/cat-item-1.png", alt="img")
                                a.item-label(href="item.html") MT245-032A16R03SO12

                            .catalog__row-block
                                .item-price
                                    span.old-price 15 000 р.
                                    span.actual-price 5 000 р.
                                .item-button
                                    a.button-style(href="item.html")
                                        span Подробнее

                        // Catalog row-item
                        .catalog__row
                            .catalog__row-item
                                a.item-image(href="item.html")
                                    img(src="assets/images/cat-item-1.png", alt="img")
                                a.item-label(href="item.html") MT245-032A16R03SO12

                            .catalog__row-block
                                .item-price
                                    span.old-price 15 000 р.
                                    span.actual-price 5 000 р.
                                .item-button
                                    a.button-style(href="item.html")
                                        span Подробнее

                        // Catalog row-item
                        .catalog__row
                            .catalog__row-item
                                a.item-image(href="item.html")
                                    img(src="assets/images/cat-item-1.png", alt="img")
                                a.item-label(href="item.html") MT245-032A16R03SO12

                            .catalog__row-block
                                .item-price
                                    span.old-price 15 000 р.
                                    span.actual-price 5 000 р.
                                .item-button
                                    a.button-style(href="item.html")
                                        span Подробнее

                    // Pagination
                    .pagination

                        a.pagination-link.pagination-arrow.pagination-arrow-left(href="javascript:void(0)")
                            i.fal.fa-chevron-left

                        a.pagination-link.active(href="javascript:void(0)") 1
                        a.pagination-link(href="javascript:void(0)") 2
                        a.pagination-link(href="javascript:void(0)") 3
                        a.pagination-link(href="javascript:void(0)") 4
                        a.pagination-link(href="javascript:void(0)") 5

                        a.pagination-link.pagination-arrow.pagination-arrow-right(href="javascript:void(0)")
                            i.fal.fa-chevron-right


                // Catalog::End
    // Category::End