---
title: ETC - Solution | Фрезерование
page: catalog
aside_active: true
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Фрезерование', 'Каталог', 'Фрезерование')
    // Breadcrumbs::End

    // Category::Start
    .category-section

        .container

            .catalog__block

                // Categories::Start
                include components/_categories
                // Categories::End

                // Catalog::Start
                .catalog__inner

                    .catalog__wrapper

                        // Catalog item
                        .catalog__item
                            a.catalog__picture(href="category-2.html")
                                img(src="assets/images/cat1.png", alt="img")
                            .catalog__info
                                a.catalog__info-title(href="category-2.html") Фрезы со сменными пластинами
                                ul.catalog__info-list
                                    li
                                        a(href="category-3.html") Фрезерование плоскости
                                    li
                                        a(href="category-3.html") Фрезерование уступов
                                    li
                                        a(href="category-3.html") Профильное фрезерование
                                    li
                                        a(href="category-3.html") Фрезерование с быстрыми подачами
                                    li
                                        a(href="category-3.html") Фрезерование пазов и отрезка
                                    li
                                        a(href="category-3.html") Обработка фасок

                        // Catalog item
                        .catalog__item
                            a.catalog__picture(href="category-2.html")
                                img(src="assets/images/cat2.png", alt="img")
                            .catalog__info
                                a.catalog__info-title(href="category-2.html") Монолитные твердосплавные фрезы
                                ul.catalog__info-list
                                    li
                                        a(href="category-3.html") Для материалов группы Р, М, К
                                    li
                                        a(href="category-3.html") Для материалов группы N
                                    li
                                        a(href="category-3.html") Для материалов группы S
                                    li
                                        a(href="category-3.html") Для обработки фасок и радиусов

                        // Catalog item
                        .catalog__item
                            a.catalog__picture(href="category-2.html")
                                img(src="assets/images/cat3.png", alt="img")
                            .catalog__info
                                a.catalog__info-title(href="category-2.html") Твердосплавные<br>пластины
                // Catalog::End
    // Category::End