---
title: ДАР - Психотерапевтический центр
---

extends includes/_page

block main

    // HERO SECTION
    section.hero-section

        .swiper.hero__slider

            .swiper-wrapper

                .swiper-slide

                    .slider-container(style="background: linear-gradient(270deg, #05256F 0%, rgba(5, 37, 111, 0) 13.66%), linear-gradient(90deg, #04246E 45%, rgba(4, 36, 110, 0) 64.42%), url(assets/images/hero.jpg) no-repeat right, #04246E;")

                        .container

                            h2.hero__title Лечение алкогольной и наркотической <span>Зависимости</span>
                            p.hero__subtitle Индивидуальный подход и подбор программы лечения каждому пациенту, ответственный и отзывчивый медперсонал, бесплатая консультация
                            .hero__action
                                button#actionBtn.button-style.button-style--orange Записаться на приём

                .swiper-slide

                    .slider-container(style="background: linear-gradient(270deg, #05256F 0%, rgba(5, 37, 111, 0) 13.66%), linear-gradient(90deg, #04246E 45%, rgba(4, 36, 110, 0) 64.42%), url(assets/images/hero.jpg) no-repeat right, #04246E;")

                        .container

                            h2.hero__title Лечение алкогольной и наркотической <span>Зависимости</span>
                            p.hero__subtitle Индивидуальный подход и подбор программы лечения каждому пациенту, ответственный и отзывчивый медперсонал, бесплатая консультация
                            .hero__action
                                button#actionBtn.button-style.button-style--orange Записаться на приём

                .swiper-slide

                    .slider-container(style="background: linear-gradient(270deg, #05256F 0%, rgba(5, 37, 111, 0) 13.66%), linear-gradient(90deg, #04246E 45%, rgba(4, 36, 110, 0) 64.42%), url(assets/images/hero.jpg) no-repeat right, #04246E;")

                        .container

                            h2.hero__title Лечение алкогольной и наркотической <span>Зависимости</span>
                            p.hero__subtitle Индивидуальный подход и подбор программы лечения каждому пациенту, ответственный и отзывчивый медперсонал, бесплатая консультация
                            .hero__action
                                button#actionBtn.button-style.button-style--orange Записаться на приём

                .swiper-slide

                    .slider-container(style="background: linear-gradient(270deg, #05256F 0%, rgba(5, 37, 111, 0) 13.66%), linear-gradient(90deg, #04246E 45%, rgba(4, 36, 110, 0) 64.42%), url(assets/images/hero.jpg) no-repeat right, #04246E;")

                        .container

                            h2.hero__title Лечение алкогольной и наркотической <span>Зависимости</span>
                            p.hero__subtitle Индивидуальный подход и подбор программы лечения каждому пациенту, ответственный и отзывчивый медперсонал, бесплатая консультация
                            .hero__action
                                button#actionBtn.button-style.button-style--orange Записаться на приём

            .swiper-pagination.swiper-dots

    // SERVICES
    section.services-section

        .container

            .services__wrapper

                .service__block
                    .service__image
                        img(src="assets/images/s-1.jpg", alt="img")
                    p.service__title Лечение наркомании
                    span.service__subtitle Все виды наркомании

                .service__block
                    .service__image
                        img(src="assets/images/s-2.jpg", alt="img")
                    p.service__title Лечение алкоголизма
                    span.service__subtitle Женский, возрастной, пивной

                .service__block
                    .service__image
                        img(src="assets/images/s-3.jpg", alt="img")
                    p.service__title Помощь психотерапевта
                    span.service__subtitle Фобии, страхи, тревоги, неврозовы, депрессии, стрессы

    // SPECIALISTES
    section.specialistes-section.gradient-sec

        .container

            h2.section-title.specialistes-title Наши специалисты

            .swiper.specialistes__slider

                .swiper-wrapper

                    .swiper-slide.specialistes__block
                        .specialistes__image
                            img(src="assets/images/spec-1.jpg", alt="img")
                        p.specialistes__title Гонтовой Александр Александрович
                        span.specialistes__subtitle Психиатр-нарколог, психотерапевт. Ученик А. Р. Довженко.

                    .swiper-slide.specialistes__block
                        .specialistes__image
                            img(src="assets/images/spec-2.jpg", alt="img")
                        p.specialistes__title Кропотова Татьяна Сергеевна
                        span.specialistes__subtitle 2006 г. окончила Самарский государственный медицинский университет по специальности «Лечебное дело». <br><br>Первичный прием и лечение пациентов с алкогольной зависимостью

                    .swiper-slide.specialistes__block
                        .specialistes__image
                            img(src="assets/images/spec-3.jpg", alt="img")
                        p.specialistes__title Баласанов Рафаэль Владимирович
                        span.specialistes__subtitle Баласанов Р. В. Психиатр-нарколог, психолог-психотерапевт. Врач высшей категории. Ведущий специалист в области лечения алкогольной и никотиновой зависимостей, коррекции веса.

                    .swiper-slide.specialistes__block
                        .specialistes__image
                            img(src="assets/images/spec-4.jpg", alt="img")
                        p.specialistes__title Прилепский Дмитрий Вадимович
                        span.specialistes__subtitle Прилепский Д. В. Психиатр-нарколог.В 1992 году окончил Горьковский медицинский институт. <br><br>В «Психотерапевтическом центре «ДАР» работает с 1995 года.

                    .swiper-slide.specialistes__block
                        .specialistes__image
                            img(src="assets/images/spec-4.jpg", alt="img")
                        p.specialistes__title Прилепский Дмитрий Вадимович
                        span.specialistes__subtitle Прилепский Д. В. Психиатр-нарколог.В 1992 году окончил Горьковский медицинский институт. <br><br>В «Психотерапевтическом центре «ДАР» работает с 1995 года.

                .swiper-pagination.swiper-dots

            .swiper-arrows
                .swiper-button.button-prev
                    i.fal.fa-arrow-left
                .swiper-button.button-next
                    i.fal.fa-arrow-right

    // CONSULTATION
    .consultation-sec

        .container

            .cons__inner

                .cons__block
                    h2.section-title.cons__title Анонимная и бесплатная консультация специалиста
                    p.cons__text Опытные специалисты нашей клиники помогут найти решение именно в вашей ситуации, обратитесь прямо сейчас!
                    button.cons__btn.button-style.button-style--orange Записаться на консультацию

                    .cons__inblock

                        .cons-tile
                            span.tile-icon
                                i.far.fa-clock
                            span.tile-number 24/7
                            span.tile-text Наша клиника работает круглосуточно

                        .cons-tile
                            span.tile-icon
                                i.far.fa-book-medical
                            span.tile-number 100%
                            span.tile-text Бесплатный подбор программы лечения

                .cons__block
                    p.cons__subtitle Бесплатно
                    h3.cons__post-title Транспортировка до клиники!
                    p.cons__text К пациенту выезжает врач-нарколог, применяет, при необходимости, меры первичной медицинской помощи, затем сопровождает пациента на всём пути следования в клинику
                    .cons__image
                        img(src="assets/images/cons-img.jpg", alt="img")

    // OTHER SERVICES
    section.other-services-section.gradient-sec

        .container

            h2.section-title.other-s__title Другие предоставляемые услуги

            a.other-s__btn.button-style(href="#")
                span Смотреть все услуги

            .swiper.other-s

                .swiper-wrapper.other-s__wrapper

                    a.swiper-slide.other-s__block
                        .other-s_content
                            span.other-s_time 2 часа
                            span.other-s_title Вывод из запоя на дому в Москве
                            span.other-s_price 5 000 ₽
                            span.other-s_service выезд специалиста на дом для вывода из запоя
                        .other-s_image
                            img(src="assets/images/other-s1.jpg", alt="img")
                        span.other-s_arrow
                            i.fal.fa-arrow-right

                    a.swiper-slide.other-s__block
                        .other-s_content
                            span.other-s_time 3 часа
                            span.other-s_title Кодирование от алкоголизма
                            span.other-s_price 13 000 ₽
                            span.other-s_service психотерапевтическое воздействие на пациента
                        .other-s_image
                            img(src="assets/images/other-s2.jpg", alt="img")
                        span.other-s_arrow
                            i.fal.fa-arrow-right

                    a.swiper-slide.other-s__block
                        .other-s_content
                            span.other-s_time Несколько сеансов
                            span.other-s_title Наркотическая зависимость
                            span.other-s_price 5 000 ₽
                            span.other-s_service психотерапевтическое воздействие на пациента
                        .other-s_image
                            img(src="assets/images/other-s3.jpg", alt="img")
                        span.other-s_arrow
                            i.fal.fa-arrow-right

                    a.swiper-slide.other-s__block
                        .other-s_content
                            span.other-s_time Несколько сеансов
                            span.other-s_title Лечение табакокурения
                            span.other-s_price 5 000 ₽
                            span.other-s_service психотерапевтическое воздействие на пациента
                        .other-s_image
                            img(src="assets/images/other-s4.jpg", alt="img")
                        span.other-s_arrow
                            i.fal.fa-arrow-right

                    a.swiper-slide.other-s__block
                        .other-s_content
                            span.other-s_time Несколько сеансов
                            span.other-s_title Лечение игровой зависимости
                            span.other-s_price 6 000 ₽
                            span.other-s_service борьба с игровой патологической зависимостью
                        .other-s_image
                            img(src="assets/images/other-s5.jpg", alt="img")
                        span.other-s_arrow
                            i.fal.fa-arrow-right

                    a.swiper-slide.other-s__block
                        .other-s_content
                            span.other-s_time 2 часа
                            span.other-s_title Лечение клаустрофобии
                            span.other-s_price 5 000 ₽
                            span.other-s_service когнитивно-поведенческая психотерапия
                        .other-s_image
                            img(src="assets/images/other-s6.jpg", alt="img")
                        span.other-s_arrow
                            i.fal.fa-arrow-right

                    a.swiper-slide.other-s__block
                        .other-s_content
                            span.other-s_time Сеанс 2 часа
                            span.other-s_title Лечение панических атак
                            span.other-s_price 6 000 ₽
                            span.other-s_service психотерапевтическое воздействие на пациента
                        .other-s_image
                            img(src="assets/images/other-s7.jpg", alt="img")
                        span.other-s_arrow
                            i.fal.fa-arrow-right

                    a.swiper-slide.other-s__block
                        .other-s_content
                            span.other-s_time Несколько сеансов
                            span.other-s_title Лечение шопоголизма
                            span.other-s_price 5 000 ₽
                            span.other-s_service психотерапевтическое воздействие на пациента
                        .other-s_image
                            img(src="assets/images/other-s8.jpg", alt="img")
                        span.other-s_arrow
                            i.fal.fa-arrow-right

    // INTERVENTION
    section.intervention-section

        .container

            p.intervention__subtitle Безопасная интервенция без физического воздействия
            h2.section-title.intervention__title Уговорим вашего близкого на лечение!

            .intervention__wrapper

                .intervention__block

                    .int-method
                        .int-block_count
                            span.int-block_number 01
                            span.int-block_type Метод

                        .int-block_desc
                            p.int-block_title Беседа с наркологом в клинике
                            span.int-block_text Наш специалист найдет причины, побудившие к употреблению, и выстроит диалог, учитывая индивидуальные особенности пациента

                    .int-method
                        .int-block_count
                            span.int-block_number 02
                            span.int-block_type Метод

                        .int-block_desc
                            p.int-block_title Проведение интервенции у вас дома
                            span.int-block_text Психологи приедут к вам на дом и проведут мотивационную беседу с зависимым, практически в 100% случаев пациент соглашается на лечение

                    .int-method
                        .int-block_count
                            span.int-block_number 03
                            span.int-block_type Метод

                        .int-block_desc
                            p.int-block_title Мотивация во время экскурсии в центр
                            span.int-block_text Специалисты центра проведут зависимому экскурсию и сформируют комплекс доводов, индивидуальных для каждого пациента

                .intervention__block

                    .int-wrapper

                        .int-sign Запишитесь на приём по телефону
                        .int-phone +7 (495) 186-05-63
                        .int-subtext или оставьте заявку онлайн
                        span.int-line
                        button.int-btn.button-style.button-style--orange Записаться на консультацию

    // GALLERY
    section.gallery-section

        .container

            h2.section-title.gallery-title Фотогалерея клиники

            .swiper.gallery__slider

                .swiper-wrapper

                    .swiper-slide.gallery__block
                        .gallery__image
                            img(src="assets/images/gallery-1.jpg", alt="img")

                    .swiper-slide.gallery__block
                        .gallery__image
                            img(src="assets/images/gallery-2.jpg", alt="img")

                    .swiper-slide.gallery__block
                        .gallery__image
                            img(src="assets/images/gallery-3.jpg", alt="img")

                    .swiper-slide.gallery__block
                        .gallery__image
                            img(src="assets/images/gallery-4.jpg", alt="img")

                    .swiper-slide.gallery__block
                        .gallery__image
                            img(src="assets/images/gallery-4.jpg", alt="img")

                .swiper-pagination.swiper-dots

            .swiper-arrows
                .swiper-button.button-prev
                    i.far.fa-arrow-left
                .swiper-button.button-next
                    i.far.fa-arrow-right

    // BENEFITS
    section.benefits-section.gradient-sec

        .container

            p.benefits__subtitle У нас есть все необходимое
            h2.section-title.benefits__title Преимущества нашей клиники

            .benefits__wrapper

                .benefits__block(style="background-image: url('assets/images/benefit-1.jpg')")
                    .benefits__content
                        span.benefits__content-title Анонимность лечения
                        span.benefits__content-text Мы охраняем медицинскую тайну, а также защищаем персональные данные.

                .benefits__block(style="background-image: url('assets/images/benefit-2.jpg')")
                    .benefits__content
                        span.benefits__content-title Удобное расположение
                        span.benefits__content-text Работаем без выходных и праздников. Вы можете подъехать к нам на консультацию в любой день с 09:00 до 17:00

                .benefits__block(style="background-image: url('assets/images/benefit-3.jpg')")
                    .benefits__content
                        span.benefits__content-title Индивидуальный подход
                        span.benefits__content-text Курс лечения для каждого пациента подбирается индивидуально, с учетом личностных особенностей.

                .benefits__block(style="background-image: url('assets/images/benefit-4.jpg')")
                    .benefits__content
                        span.benefits__content-title Многолетний опыт
                        span.benefits__content-text Врачи нашего центра ведут клиническую практику более 25 лет. Центр имеет высокую репутацию в медицинском сообществе.

    // LICENSE
    section.license-section

        .container

            h2.section-title.license-title Лицензии и сертификаты

            .swiper.license__slider

                .swiper-wrapper

                    .swiper-slide.license__block
                        .license__image
                            img(src="assets/images/license-1.jpg", alt="img")

                    .swiper-slide.license__block
                        .license__image
                            img(src="assets/images/license-2.jpg", alt="img")

                    .swiper-slide.license__block
                        .license__image
                            img(src="assets/images/license-3.jpg", alt="img")

                    .swiper-slide.license__block
                        .license__image
                            img(src="assets/images/license-4.jpg", alt="img")

                    .swiper-slide.license__block
                        .license__image
                            img(src="assets/images/license-4.jpg", alt="img")

                .swiper-pagination.swiper-dots

            .swiper-arrows
                .swiper-button.button-prev
                    i.far.fa-arrow-left
                .swiper-button.button-next
                    i.far.fa-arrow-right

    // QUESTION
    section.question-section.gradient-sec

        .container

            h2.section-title.question__title Ответы на часто задаваемые вопросы
            p.question__subtitle Наши специалисты ответят на любой вопрос на бесплатной консультации

            .swiper.question__slider

                .swiper-wrapper

                    .swiper-slide.question__block
                        span.question-icon
                            i.fal.fa-question
                        p.question__question Мой сын принимает героин. Пробовала говорить с ним – любые попытки завести речь о лечении встречает в штыки. Что делать? Можно ли у вас лечить его принудительно?
                        p.question__answer Принудительное лечение – крайняя мера, пойти на которую можно лишь в нескольких случаях, предусмотренных законом. Например, если наркоман представляет...ольких случаях, предусмотренных законом. Например, если наркоман представля
                        a.question__link(href="#") >>

                    .swiper-slide.question__block
                        span.question-icon
                            i.fal.fa-question
                        p.question__question Увидел у вас на сайте, что вы практикуете программу «12 шагов». Что это такое? Слышал,  это связано с религией – это так?
                        p.question__answer «12 шагов» — последовательная программа программа духовного восстановления, в которой сами наркоманы или алкоголики помогают друг другу исцелиться от болезни помогают друг другу исцелиться.
                        a.question__link(href="#") >>

                    .swiper-slide.question__block
                        span.question-icon
                            i.fal.fa-question
                        p.question__question Жена сказала, что уйдет, если не брошу пить. Сам я бросить не могу, пробовал неоднократно. Сможете ли вы сделать так, чтобы я больше не пил?
                        p.question__answer Излечение от алкогольной зависимости в большей степени зависит от Вас и Вашего желания действительно прекратить принимать спиртное. Если Вы понимаете понимаете понимаете понимаете.
                        a.question__link(href="#") >>

                    .swiper-slide.question__block
                        span.question-icon
                            i.fal.fa-question
                        p.question__question Мой сын принимает героин. Пробовала говорить с ним – любые попытки завести речь о лечении встречает в штыки. Что делать? Можно ли у вас лечить его принудительно?
                        p.question__answer Принудительное лечение – крайняя мера, пойти на которую можно лишь в нескольких случаях, предусмотренных законом. Например, если наркоман представляет...
                        a.question__link(href="#") >>

                    .swiper-slide.question__block
                        span.question-icon
                            i.fal.fa-question
                        p.question__question Увидел у вас на сайте, что вы практикуете программу «12 шагов». Что это такое? Слышал,  это связано с религией – это так?
                        p.question__answer «12 шагов» — последовательная программа духовного восстановления, в которой сами наркоманы или алкоголики помогают друг другу исцелиться от болезни.
                        a.question__link(href="#") >>

                .swiper-pagination.swiper-dots

            .swiper-arrows
                .swiper-button.button-prev
                    i.far.fa-arrow-left
                .swiper-button.button-next
                    i.far.fa-arrow-right

    // BOTTOM BANNER
    section.b-banner-section

        .container

            .b-banner__wrapper

                .b-banner__left

                    .b-banner__block(style="background-image: url('assets/images/b-1.png')")
                        p.b-price 6 000 ₽
                        p.b-method Избыточный вес
                        a.b-link(href="#") Подробнее

                    .b-banner__block(style="background-image: url('assets/images/b-2.png')")
                        p.b-price 13 000 ₽
                        p.b-method Кодирование по методу Довженко
                        a.b-link(href="#") Подробнее

                .b-banner__right

                    p.b-text <b>Реабилитационный центр был создан в 2000 году. Приоритетная составляющая нашего центра – это некоммерческий подход в лечении. Наша задача – не Лечить пациента, а именно Вылечить. Мы используем комплексный подход в лечении зависимости, базу составляет индивидуальная и групповая психотерапевтическая работа (когнитивно- поведенческий подход), Day-top, 12 шаговая модель.</b>
                      br
                      br
                      | Преимуществом является то, что наши пациенты обретают не просто знания о заболевании и преодолении зависимости, но и конкретные навыки работы с ней, которые, в свою очередь, отрабатываются ещё на стационарной программе под чутким контролем персонала, и совершенствуются уже на постлечебной программе (амбулаторно). На каждом из этапов квалифицированные сотрудники сопровождают и поддерживают пациента, прогнозируют срывные симптомы, помогают заблаговременно предотвратить рецидив.
                      br
                      br
                      | Один из ключевых аспектов в эффективной работе РЦ - это команда сотрудников, именно они составляют ядро, движущую силу реабилитационного процесса. Именно поэтому мы очень избирательны в подборе персонала, все сотрудники имеют большой стаж и опыт в аддиктологии, психиатрии, наркологии, мы следим за повышением их квалификации и компетенций, особенно за соблюдением всех этических норм в такой нелегкой работе - восстановлении целостности личности.
                      br
                      br
                      br
                      | Наша программа Реабилитации одобрена Министерством Здравоохранения, а сам Реабилитационный центр входит в перечень Организаций, утвержденный Правительством Московской области, соответствующих всем требованиям Государственной программы контроля за деятельностью Реабилитационных центров.

                    p.b-list-text Основные принципы нашей работы:

                    ul.b-list-items
                        li Полная анонимность.
                        li Научный подход и доказательная медицина.
                        li Индивидуальный подход в каждом случае.
                        li Применение современных психотерапевтических методов.
                        li Профессионализм, высокая квалификация и опыт персонала клиники.

                    p.b-list-text Всё это позволяет нам работать с самыми тяжелыми случаями и предоставлять прописанную в договоре, гарантию на повторное лечение.